<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

</head>

<body>
 <div class="login">
	<h1>Student Grade Prediction</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
        <input type="text" name="school" placeholder="school" required="required" />
		<input type="text" name="sex" placeholder="sex Score" required="required" />
        <input type="text" name="age" placeholder="age Score" required="required" />
        <input type="text" name="address" placeholder="address Score" required="required" />
        <input type="text" name="Pstatus" placeholder="Pstatus Score" required="required" />
        <input type="text" name="Medu" placeholder="Medu" required="required" />
        <input type="text" name="Fedu" placeholder="Fedu" required="required" />
        <input type="text" name="Mjob" placeholder="Mjob" required="required" />
        <input type="text" name="Fjob" placeholder="Fjob" required="required" />
        <input type="text" name="reason" placeholder="reason" required="required" />
        <input type="text" name="guardian" placeholder="guardian" required="required" />
        <input type="text" name="traveltime" placeholder="traveltime" required="required" />
        <input type="text" name="studytime" placeholder="studytime" required="required" />
        <input type="text" name="failures" placeholder="failures" required="required" />
        <input type="text" name="schoolsup" placeholder="schoolsup" required="required" />
        <input type="text" name="famsup" placeholder="famsup" required="required" />
        <input type="text" name="paid" placeholder="paid" required="required" />
        <input type="text" name="activities" placeholder="activities" required="required" />
        <input type="text" name="nursery" placeholder="nursery" required="required" />
        <input type="text" name="higher" placeholder="higher" required="required" />
        <input type="text" name="internet" placeholder="internet" required="required" />
        <input type="text" name="romantic" placeholder="romantic" required="required" />
        <input type="text" name="famrel" placeholder="famrel" required="required" />
        <input type="text" name="freetime" placeholder="freetime" required="required" />
        <input type="text" name="goout" placeholder="goout" required="required" />
        <input type="text" name="Dalc" placeholder="Dalc" required="required" />
        <input type="text" name="Walc" placeholder="Walc" required="required" />
        <input type="text" name="health" placeholder="health" required="required" />
        <input type="text" name="absences" placeholder="absences" required="required" />
        <input type="text" name="G1" placeholder="G1" required="required" />
        <input type="text" name="G2" placeholder="G2" required="required" />





        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>